/*.root {*/
    /*-fx-background-color: rgba(255, 225, 230, 0.5);*/
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);*/
/*}*/

/*#header {*/
    /*-fx-background-color: #111111;*/
    /*-fx-cursor: move;*/
/*}*/

/*#topPanel {*/
    /*-fx-background-color: #3D3D3D;*/
    /*-fx-alignment: center;*/
    /*-fx-padding: 0 40 0 40;*/
    /*-fx-spacing: 40;*/
/*}*/

/*#leftPanel {*/
    /*-fx-background-color: #2E2E2E;*/
/*}*/

/*#mainPanel {*/
    /*!*-fx-background-image: url("../img/Background_1.png");*!*/
/*}*/

/*.operatorRange {*/
    /*-fx-fill: transparent;*/
    /*-fx-stroke: red;*/
    /*-fx-stroke-width: 2;*/
    /*-fx-stroke-dash-array: 10;*/
/*}*/

/*#footer {*/
    /*-fx-background-color: #1A1A1A;*/
    /*-fx-alignment: center;*/
/*}*/

/* ========================== */
.operatorRange {
    -fx-fill: transparent;
    -fx-stroke: red;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 10;
}
.border {
    /*-fx-border-color: #CCCCCC;*/
    -fx-border-color: #404452;
}
.border-vertical {
    -fx-border-width: 1 0;
}
.border-horizontal {
    -fx-border-width: 0 1;
}
.border-top {
    -fx-border-width: 1 0 0 0;
}
.border-right {
    -fx-border-width: 0 1 0 0;
}
.border-bottom {
    -fx-border-width: 0 0 1 0;
}
.border-left {
    -fx-border-width: 0 0 0 1;
}
.label {
    -fx-text-fill: #CCCCCC;
}
.btn {
    -jfx-disable-visual-focus: true;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.btn .jfx-rippler {
    -jfx-rippler-fill: transparent;
}
.btn FontAwesomeIconView {
    -fx-fill: #CCCCCC;
}
.btn:hover FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}
.form-group {
    -fx-alignment: center-left;
}
.form-input {
    -fx-pref-width: 200;
    -fx-pref-height: 35;
}
.form-label {
    -fx-pref-width: 200;
    -fx-alignment: center-left;
    -fx-padding: 0 0 5 0;
}
.comboBox {
    -fx-background-color: #CCCCCC;
    -fx-padding: 0 0 0 10;
}

/* ========================== */
/*#header {*/
    /*-fx-background-color: #1D1D28;*/
    /*-fx-cursor: move;*/
/*}*/
/*#topPanel {*/
    /*-fx-background-color: #383B47;*/
    /*-fx-alignment: center;*/
    /*-fx-padding: 0 40 0 40;*/
    /*-fx-spacing: 40;*/
/*}*/
/*#leftPanel {*/
    /*-fx-background-color: #383D4B;*/
/*}*/
/*#footer {*/
    /*-fx-background-color: #1D1D28;*/
    /*-fx-alignment: center;*/
/*}*/
/* ========================== */
.root {
    /*-fx-background-color:  linear-gradient(from 25% 25% to 100% 100%, #100C0D, #1B191A);*/
    -fx-background-color:  linear-gradient(from 25% 25% to 100% 100%, #1C1C27, #373C4A);
}
#header {
    -fx-background-color: transparent;
    -fx-cursor: move;
}
#topPanel {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-padding: 0 40 0 40;
    -fx-spacing: 40;
}
#leftPanel {
    -fx-background-color: transparent;
}
#footer {
    -fx-background-color: transparent;
    -fx-alignment: center;
}
/* ========================== */